# Copy this file into your own .env file and then run `dotenvx encrypt` in your terminal to encrypt it. Your API key should be automatically resolved at runtime.
# Note: dotenvx is automatically installed by the scaffold script.

GEMINI_API_KEY=your-api-key-here
SESI_PASSWORD=your-password-here